@media (max-width: 500px) {
    .slides {
        flex-direction: column;
        padding: auto;
        border-radius: 1px;
        background-size: auto;
        left: 232px;
        border-radius: 20px;
        margin-top: 50%;
        flex-direction: column;
        display: flex;
        
    }
}

@media (max-width: 500px) {
    .slides ul {
        flex-direction: column;
        padding: 0;
        list-style: none;
        width: 450px;
        /* Puzzle genişliği artırıldı */
        height: 450px;
        /* Puzzle yüksekliği artırıldı */
        font-size: 0;
        position: relative;
        z-index: 1;
        background: whitesmoke;
        border-radius: 6px;
        padding: 5px;
    }
}

@media (max-width: 500px) {

    /* Parça boyutunu ayarlayın ve box-sizing'i ayarlayın */
    .slides ul li {
       
        width: calc(33.333% - 2px);
        height: calc(33.333% - 2px);
        margin: 0;
        padding: 0;
        box-sizing: border-box;

    }


}

@media (max-width: 500px) {
    .button-container {
        flex-direction: column;
        margin-left: 23%;
        justify-content: space-between;
        align-items: center;
        text-align: center;
       
    }

    .button-container button {
        margin: 10px 10px;
        /* Dikeyde 10px boşluk bırakmak için */
    }

    .small-button {
        padding: 0 10px;
    }


}