.slides {
    flex-direction: column;
    padding: auto;
    border-radius: 1px;
    background-size: auto;
    left: 232px;
    border-radius: 20px;
    margin-top: 50%;
    display: flex;

}

.slides ul {
    flex-direction: column;
    padding: 0;
    list-style: none;
    width: 450px;
    /* Puzzle genişliği artırıldı */
    height: 450px;
    /* Puzzle yüksekliği artırıldı */
    font-size: 0;
    position: relative;
    z-index: 1;
    background: whitesmoke;
    border-radius: 6px;
    padding: 5px;
}

.slides ul li {
    width: calc(33.333% - 2px);
    height: calc(33.333% - 2px);
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@media (max-width: 500px) {
    .button-container {
        flex-direction: column; /* Öğeleri alt alta sıralayın */
        margin-left: 0; /* margin-left değerini sıfırlayın */
        justify-content: flex-start; /* İçeriği sola hizalayın */
        align-items: flex-start; /* Öğeleri yukarıda hizalayın */
        text-align: left; /* Metni sola hizalayın */
    }

    .button-container button {
        margin: 10px 0; /* Alt ve üstte boşluk bırakın, sağ ve sol boşluğu sıfırlayın */
    }

    .small-button {
        padding: 0; /* Padding'i kaldırın */
    }
}

