@media (max-width: 768px) {
  .slides {
    background-size: auto;
   
  
   }
}

@media (max-width: 768px) {

  /* Parça boyutunu ayarlayın ve box-sizing'i ayarlayın */
  .slides ul li {
    width: calc(33.333% - 1px);
    height: calc(33.333% - 1px);
    margin: 0;
    padding: 0;

    box-sizing: border-box;
  }

  /* Diğer özelleştirmeleri burada ekleyin */
}
@media (max-width: 768px) {
  .button-container {
    margin-top: 100px;
  }

  button#shuffle-button {
    bottom: 50px;
    /* Yeni alt boşluk değeri */
  }

  button#new-photo-button {
    bottom: -60px;
    /* Yeni alt boşluk değeri */
  }
}