.slides {
  flex-direction: column;
  padding: auto;
  border-radius: 1px;
  background-size: auto;
  border-radius: 20px;
  display: flex;

}

.slides ul {
  flex-direction: column;
  padding: 0;
  list-style: none;
  width: 450px;
  height: 450px;
  font-size: 0;
  position: relative;
  z-index: 1;
  background: whitesmoke;
  border-radius: 6px;
  padding: 5px;
}

.slides ul li {
  width: calc(33.333% - 2px);
  height: calc(33.333% - 2px);
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@media (max-width: 768px) {
  .button-container {
    position: fixed;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    margin-top: 50%;
    margin-right: 0.1rem;

  }
}